{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión Tienda</title>
    <!-- <link rel="stylesheet" href="{% static 'index.css' %}"> -->
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container py-3">
      <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'gestionTienda:tiendas' %}"
                    >Tiendas</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'gestionTienda:productos' %}"
                    >Productos</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="row">
          <div class="col-9">
            <h2 class="h2 text-bold">Tiendas</h2>
          </div>
          <div class="col-3">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_Nuevo">Nueva Tienda</button>
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Direccion</th>
                <th scope="col">Provincia</th>
                <th scope="col">Region</th>
                <th scope="col">Fecha</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for tienda in listaTiendas %}
              <tr>
                <td>{{ tienda.Direccion }}</td>
                <td>{{ tienda.Provincia }}</td>
                <td>{{ tienda.Region }}</td>
                <td>{{ tienda.Fecha_creacion }}</td>
                <td>{{ tienda.Telefono_contacto }}</td>
                <td>
                  <div class="btn-group" role="group">
                    <a type="button" class="btn btn-primary" href="{% url 'gestionTienda:detalleTienda' tienda.id %}">ver Productos</a>
                    <a type="button" class="btn btn-danger" href="{% url 'gestionTienda:eliminarTienda' tienda.id %}">Eliminar</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
<!-- Modal Nuevo -->
<div class="modal fade" id="modal_Nuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'gestionTienda:tiendas' %}">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Tienda</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          <div>
            <label for="dir_Tienda" class="form-label">Dirección de la Tienda:</label>
            <input type="text" name="dir_Tienda" class="form-control" required/>
          </div>
          <div>
            <label for="pro_Tienda" class="form-label">Provincia de Origen:</label>
            <input id="nombreInfo" type="text" name="pro_Tienda" class="form-control" required/>
          </div>
          <div>
            <label for="reg_Tienda" class="form-label">Región de Origen:</label>
            <input id="nombreInfo" type="text" name="reg_Tienda" class="form-control" required/>
          </div>
          <div>
            <label for="fec_Tienda" class="form-label">Fecha de Origen:</label>
            <input id="nombreInfo" type="date" name="fec_Tienda" class="form-control" required/>
          </div>
          <div>
            <label for="tel_Tienda" class="form-label">Teléfono de Tienda:</label>
            <input id="nombreInfo" type="number" name="tel_Tienda" class="form-control" required/>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>
  </body>
</html>
